<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="triangle" class="com.example.demo.Triangle">
        <property name="pointA" ref="zeroPoint"/>
        <property name="pointB" ref="point2"/>
        <property name="pointC" ref="point3"/>
    </bean>

    <bean id="zeroPoint" class="com.example.demo.Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>
    <bean id="point2" class="com.example.demo.Point">
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>
    <bean id="point3" class="com.example.demo.Point">
        <property name="x" value="20" />
        <property name="y" value="0" />
    </bean>
</beans>